/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height:normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a,a:hover,a:focus,a:visited{
text-decoration:none;
}
body {
	line-height:normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***End REset CSS*/
html{
/*  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
background:#666;
  }
 body{
	 font: 400 14px/18px 'Roboto', sans-serif;
	 
 }
 *,
:after,
:before {
  box-sizing: border-box
}
a{
	color:#454545;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}
.container{
	width: 310px;
	height: 483px;
	margin: 5em auto;
	background:#e3e3e3;
	position:relative;
	overflow:hidden;
}
/*Header*/
.header{
	min-height: 40px;
	background: #fff;
	padding: 10px;
	position: relative;
	box-shadow: 0px 0px 5px #888;
	z-index:0;
}
.header a{
	float: left;
	color: #888;
	font-size:21px
}
.header a.toggle-btn {
	font-size: 24px;
	margin-right: 38%;
}
.header a.all {
  font-size: 16px;
  margin-right: 25%;
  color:#555;
  position:relative;
}
.header a.all span {
  position: absolute;
  bottom: -9px;
  left: 5px;
  font-size: 9px;
  color: #999;
}
.header a.suggestion{
	margin-right:10%;
}
/*Left*/
.left{
	width:270px;
	position:absolute;
	height:545px;
	left: -270px;
	top:0;
	background:#fff;
	z-index:2;
	 transition: all 0.4s ease-in-out 0s;
}
.left.open {
  left: 0;
 
}
.left-head{
	background:url(../images/back.jpg)no-repeat top /cover;
	position:relative;
	color:#fff;
	z-index:2;
	padding:10px;
	min-height:112px;
}
.left.open .toggle-overlay,.note-head.toggle-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 310px;
  z-index: -1;
  height: 100%;
}
.top-bar{
	text-align:right;
}
.top-bar a.search, a.setting {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}
.user-bar {
  display: table;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.user-bar img,
.user-bar .name,
.user-bar .email{
	float:left;
}
.user-bar>img{
	height: 38px;
	width: 38px;
	border-radius: 2px;
	margin-right: 10px;
}
.user-bar .name {
  font-size: 14px;
  font-weight: bold;
}
.user-bar .email {
  font-size: 12px;
}
.menu-list a {
  display: block;
  font-size: 14px;
  color: #555;
  background-color: #fefefe;
  padding: 12px 40px;
  border-bottom: 1px solid #eee;
  position:relative;
}
 
.menu-list a.home:after,
.menu-list a.people:after,
.menu-list a.photos:after,
.menu-list a.communities:after,
.menu-list a.locations:after,
.menu-list a.event:after,
.menu-list a.hangouts:after{
  background: url(../images/google.png);
  background-repeat: no-repeat;
  height: 25px;
  width: 32px;
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 5px;
}
.menu-list a.home:after{
  background-position: 10px 5px;
}
.menu-list a.people:after {
  background-position: -58px 0px;
  height: 20px;
  width: 23px;
  left: 8px;
  top: 12px;
}
.menu-list a.photos:after {
  background-position: -123px -40px;
  width: 26px;
  left: 5px;
  top: 10px;
}
.menu-list a.communities:after {
  background-position: -144px -19px;
  width: 26px;
  left: 5px;
  top: 11px;
  height: 22px;
}
.menu-list a.locations:after {
  background-position: -111px -20px;
  width: 13px;
  left: 15px;
  top: 14px;
  height: 18px;
}
.menu-list a.event:after {
  background-position: -148px -40px;
  height: 27px;
  width: 26px;
  left: 11px;
  top: 13px;
}
.menu-list a.hangouts:after {
  background-position: -104px -40px;
  height: 27px;
  width: 19px;
  left: 11px;
  top: 13px;
}
/*notification*/

.note {
  position: absolute;

  	right:-250px;
  width: 250px;
  background-color: #fff;
  height: 100%;
  z-index: 1;
  transition:all 0.4s ease-in-out 0s;
}
.note-open {
  right: 0;
}


.note-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 310px;
  z-index: -1;
  height: 100%;
}
 
.note .note-head {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  color: #888;
  font-size: 13px;
}
.note-head span{
	float:right;
	font-size: 18px;
}
.note-body {
  padding: 15px;
  text-align: center;
  padding-top: 60%;
}
.note-body>span {
  font-size: 55px;
  color: #888;
  padding: 0px 19px;
  background-color: #ddd;
  border-radius: 51px 51px 4px 3px;
}
.note-body p {
  margin: 15px;
  color: #555;
}
/*content*/

.post-header>img {
  height: 43px;
  border-radius: 50%;
  margin-right: 10px;
}
.note-footer {
  position: absolute;
  bottom: 0;
  min-height: 30px;
  padding: 6px 15px;
  border-top: 1px solid #ddd;
  width: 100%;
  right: 0;
}
.note-footer>a {
  font-size: 13px;
}
.note-footer>span {
 float:right;
}

.content {
  margin: 6px;
  background-color: #fff;
  border-radius: 4px;
  padding: 11px;
}
.post-header img,
.post-header .p-name,
.post-header .time  {
	float:left;

}
.post-header .p-name{
	font-weight:bold;
	margin-right: 25px;
}

.post-header .time {
  font-size: 11px;
  color: #888;
  line-height: 18px;
}
.post-caption {
  padding: 10px 0px;
  color: #000;
  border-bottom: 1px solid #ddd;
  margin: 11px 0px;
  font-size: 13px;
}
.post-details>img {
  float: left;
  margin-right: 10px;
  height: 100px;
}
.post-details a.post-details-title {
  font-size: 17px;
  color: #0266C8;
  font-weight: lighter !important;
}
.post-details .web-link {
  color: #888;
  font-size: 12px;
  display: block;
  margin: 5px 0px;
}
.post-share {
  clear: both;
	padding: 13px 0px;
}
.post-share span.plus-one,
.post-share span.ion-android-share,
.post-share span.ion-ios-chatbubble{
 
  padding: 2px 10px;
  background: #fefefe;
  border: 1px solid #ccc;
  color: #777;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 16px;
}

.post-share span.ion-ios-chatbubble{
	float:right;
}
.post-footer {
  padding: 15px;
  background-color: #f1f1f1;
  margin: -11px;
  margin-top: 0px;
}
.post-footer>input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  border-radius: 2px;
}



























/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: #333;
  width: 100%;
  padding: 2px 15px;
}
.footer a {
  float: left;
  text-align: center;
  padding: 0px 20px 9px 20px;
  font-size: 11px;
  line-height: 6px;
}
.footer a span {
  display: block;
  font-size: 22px;
  text-align: center;
}
.footer a.photo{
	color: #3F85F4;
}
.footer a.Location{
	color: #DD4B39;
}
.footer a.link{
	color: #F2B50F;
}
.footer a.link span{	transform:rotate(45deg);}
.footer a.write{
	color: #00933B;
}